<h2>All the Questions</h2>
<% @questions.each do |question| %>
<div class="question">
<%= link_to question.title, question %>
<%= question.author.username %>
Submitted <%= time_ago_in_words(question.created_at) %> ago.
</div><br>
<% end %>
<%= render 'form' %>
